<main>
  <header>
    <img src="./../assets/svg/trueno.svg" alt="cat-logo"
    style="height: 100px; width: 100px;">
  </header>
  <section>
    <app-menu-list></app-menu-list>
    <app-housing-list [locationList] = housingLocationList (selectedLocationEvent)="updateSelectedLocation($event)"></app-housing-list>
  </section>
  <article>
    <ng-container *ngIf="selectedLocation">
    <img [src]="selectedLocation?.photo"/>
    <p>{{selectedLocation?.availableUnits}}</p>
    </ng-container>
  </article>
</main>